<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://modulemanager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>modulemanager.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ModuleManager</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$ModuleManager</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:modulemanagerdbserver.database.windows.net,1433;Initial Catalog=ModuleManager_db;User ID=swmooneyham@modulemanagerdbserver;Password=!!Brennonboy11!!" Name="Data Source=tcp:modulemanagerdbserver.database.windows.net,1433;Initial Catalog=ModuleManager_db;User Id=swmooneyham@modulemanagerdbserver;Password=!!Brennonboy11!!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PartsManager.Models.ApplicationDbContext, PartsManager" MigrationConfiguration="PartsManager.Migrations.Configuration, PartsManager" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:modulemanagerdbserver.database.windows.net,1433;Initial Catalog=ModuleManager_db;User Id=swmooneyham@modulemanagerdbserver;Password=!!Brennonboy11!!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>