@{
    ViewBag.Title = "Ship Selection";
}

<div>
    <h2>Ship Selection</h2>
</div>
<div class="list-group">
    <a href="#" class="list-group-item">Miner</a>
    <a href="#" class="list-group-item">Fighter</a>
    <a href="#" class="list-group-item">Explorer</a>
</div>