@{
    ViewBag.Title = "Home Page";
}
<div>
    <h1>Ship Part Manager</h1>
    <p>
        This <abbr title="Create, Read, Update, Delete" class="abbr">CRUD</abbr> application is used
        to manage the parts associated with fictional spacecraft.
    </p>
</div>


@section scripts
{
    <script>
        $(document)
            .ready(
                bootbox.alert("This is a basic CRUD applicaiton that I have been working on as a personal project.  " +
                    "Feel free to register an account to have a look at the parts list.  " +
                    "This will give you read only access. To edit the parts list contents, admin access is required.  " +
                    "You can view the code on my GitHub account under username 'seanwmooneyham'.  " +
                    "If you have any questions, feel free to email me at swmooneyham@gmail.com")
            );
    </script>
}