@{
    ViewBag.Title = "Bike Selection";
}

<div>
    <h2>Bike Selection</h2>
</div>
<div class="list-group">
    <a href="#" class="list-group-item">Bike 1</a>
    <a href="#" class="list-group-item">Bike 2</a>
    <a href="#" class="list-group-item">Bike 3</a>
</div>