@{
    ViewBag.Title = "Ship Selection";
}

<div>
    <h2>Ship Selection</h2>
</div>


<div class="list-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">

        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" 
           aria-controls="collapse1" class="list-group-item collapsed">
            <div class="panel-heading" role="tab" id="headingOne">
                Cobra &#8546;
            </div>
        </a>

        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                The Cobra &#8546; is a multipurpose ship capable of filling a variety of roles including combat, trading, mining,
                and exploratory endeavors.  Because of this, all modules located on this parts list can be fitted to the Cobra &#8546;.
            </div>
        </div>
    </div>

    <div class="panel panel-default">

        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" 
           aria-controls="collapse2" class="list-group-item collapsed">
            <div class="panel-heading" role="tab" id="heading-two">
                ASP Scout
            </div>
        </a>

        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                The ASP Scout is a multipurpose ship capable of filling a variety of roles including combat, trading, mining,
                and exploratory endeavors.  Because of this, all modules on this Module list can be fitted to the ASP Scout.
            </div>
        </div>
    </div>

    <div class="panel panel-default">

        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" 
           aria-controls="collapse3" class="list-group-item collapsed">
            <div class="panel-heading" role="tab" id="heading-three">
                Type-9 Heavy
            </div>
        </a>

        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                The Type-9 Heavy is a multipurpose ship capable of filling a variety of roles including combat, trading, mining,
                and exploratory endeavors.  Because of this, all modules on this Module list can be fitted to the Type-9 Heavy.
            </div>
        </div>
    </div>
</div>

